@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html{
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
.sign_sec{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 100px 0px;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    /* background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% ); */
    margin-top: 70px;
}
.sign_sec .sign_app{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 50px 10px;
    height: auto;
    gap: 20px;
}
.sign_sec .sec_title{
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 40px;
}
.sign_sec .sec_title span:nth-child(2){
   font-size: 1.2rem;
   letter-spacing: 3px;
   color: rgb(96, 96, 96);
}
.title{
    font-size:4rem;
    font-weight: bold;
}
.sign_sec .canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 20px;
}
.sign_sec .canvas .color_picker{
     display: flex;
    flex-direction: column;
    gap: 8px;
}
.sign_sec .canvas .color_picker button{
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.sign_sec .canvas .color_picker .select{
    border: 4px solid black;
}
.main{
    background-color: white;
}
.btn_grp{
     bottom: -20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: absolute;
}
.btn_grp button{
    height: 50px;
    padding:10px 20px ;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    border-radius: 5px;
    border:none;
    transition: 0.2s;
}
button:hover{
transform: scale(0.97);
background-color: #413839;
color: white;
}
.result{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 300px;
    width: 40%;
    background-color: #413839;
    border: 2px solid black;
}

.result .res{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    gap: 20px 5px;
    padding: 0px 20px;
    
}
.res button{
    background-color: black;
    color: white;
    outline: none;
    border: none;
    height: 40px;
    width: 80px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.res button:hover{
    background-color: rgb(143, 143, 143);
    color: rgb(0, 0, 0);
}
.image{
    background-color: white;
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.image img{
    height: 100%;
    width: 100%;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    width: 100%;
    height: 100%;
}
.color_picker .select{
    border: 5px solid black;
}
@media only screen and (max-width: 600px) {
    body{
        overflow-x: hidden;
    }
    .sign_sec{
        height: auto;
    }
    .sign_sec .sign_app{
        flex-direction: column;
    }

    .sign_sec .sec_title span:nth-child(2){
       font-size: 0.8rem;
       letter-spacing: 3px;
       color: rgb(96, 96, 96);
    }
    .sign_sec .canvas{
        flex-direction: column;
    }
    .sign_sec .canvas .color_picker{
        flex-direction: row;
    }
    .sign_sec .canvas .color_picker button{
        height: 30px;
        width: 30px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }
    .main{
        background-color: white;
        width: 300px !important;
        height: 160px !important;
    }
    .main .sign_canvas{
        width: 300px !important;
        height: 160px !important;
    }
    .btn_grp{
        top: 300px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        position: absolute;
        height: 50px;
    }
    .btn_grp button{
        height: 50px;
        padding:10px 20px ;
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        border-radius: 5px;
        border:none;
        transition: 0.2s;
    }
    button:hover{
    transform: scale(0.97);
    background-color: #413839;
    color: white;
    }
    .result{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 160px;
        width: 300px;
        background-color: #413839;
        border: 2px solid black;
        margin-top: 120px;
        position: relative;
    }
    
    .result .res{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px 5px;
        padding: 0px 20px;
        position: absolute;
        bottom: -60px;
        
    }
    .res button{
        background-color: black;
        color: white;
        outline: none;
        border: none;
        height: 40px;
        width: 80px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .image{
        background-color: white;
        width: 100%;
    }

    .text{
        font-size: 1.4rem;
    }
}